
    

#hover{
    border-bottom: dotted ;
    position: relative;

}
#box{
    background-color: rgb(139, 146, 150);
    width: 100px;
    height: 20px;
    position: absolute;
    top: -25px;
    border-radius: 5px;
}
